################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/SolucionMiPrimeraTarea/.vs/MiPrimerTarea/v16/.suo
